.calendar-container {
  font-family: "Railway", sans-serif;
  font-size: 1rem;
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(150 168 185);
  border-radius: 20px;
}
button {
  font-family: inherit;
  width: -webkit-fill-available;
  font-size: 0.9rem;
  padding: 5px;
  border: none;
  background-color: rgb(219 219 219);
  color: rgb(0 0 0 / 87%);
  max-width: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}
.btn-arrows:hover {
  background-color: #7f919f78;
}
