.month-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  min-height: 30px;
  color: #00916e;
}
.month-display {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}
.arrow-picker {
  display: flex;
  height: 30px;
}
.arrow-picker svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.5rem;
}
.btn-arrows {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 0.5px solid #00916e;
  border-radius: 30%;
  margin: 0px -3px 0px 0px;
  cursor: pointer;
  padding: 3px;
}
.btn-space {
  width: 15px;
}
