.box {
  padding: 5px;
  max-width: 121px;
  text-align: left;
  background-color: rgb(219 219 219);
  box-shadow: 0 2px 4px #dbdbdb;
  border-radius: 4px;
  white-space: nowrap;
}
.box:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(150 168 185);
  transition: 0.5s;
}
