.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 100px;
  border-radius: 10px;
}
.weekday {
  font-size: 1rem;
  background-color: #4065818f;
  color: #e7eae5;
  text-align: center;
  line-height: 55px;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px solid rgb(83 104 101 / 40%);
  border-right: 1px solid rgb(81 102 100 / 40%);
  box-sizing: border-box;
  color: #30526e;
  z-index: 1;
}
.date {
  height: 20%;
  font-size: initial;
}
