.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 100px;
  border-radius: 10px;
}
.weekday {
  font-size: 1rem;
  background-color: #00bcd4;
  color: white;
  text-align: center;
  line-height: 50px;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  text-align: right;
  border-bottom: 0.5px solid rgb(204 204 204);
  border-right: 0.5px solid rgb(204 204 204);
  color: rgb(0 0 0 / 87%);
}
.date {
  display: flex;
  width: 25%;
  line-height: 1.75;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 6%);
  position: relative;
  left: 73%;
  border-radius: 50%;
}
.date:hover {
  cursor: pointer;
  background-color: #00bbd4ab;
  color: white;
  transition: 0.3s;
}
.no-date-in-cell {
  background-color: rgb(153, 26, 26);
  cursor: none;
}
