.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 100px;
  border-radius: 10px;
}

.weekday {
  font-size: 12px;
  text-transform: uppercase;
  color: #254c6b;
  background-color: aquamarine;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}

.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #254c6b;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
